<h1>Eat-Da-Burger!</h1>

<ol type="1" id="uneaten-burg">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ol>
<img src="{{public/assets/img/BlueBurger.jpg}}" alt="blue-burger">
<img src="{{assets/img/BlueBurger.jpg}}" alt="blue-burger"> 
<img src="{{img/BlueBurger.jpg}}" alt="blue-burger"> 
<img src="{{BlueBurger.jpg}}" alt="blue-burger"> 
<ol type="1" id="devoured-burg">
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ol>

<form class="create-form">
  <textarea id="contact-message" name="burger_name"></textarea>
  <button type="submit">Submit</button>
  <p>Enter a burger you want to eat Click the "Submit" button</p>
</form>